/*
 * 1-key Macropad Shield for NRF52840 Pro Micro
 * Uses GPIO 031 as the single key
 */

 / {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-direct";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;

        row-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // Detects GND short
    };
};