/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <400>;
};

/ {
    macros {
        ZMK_MACRO(bt_clr, bindings = <&bt BT_CLR>;)
    };

    behaviors {
        enter_bt_tap_dance: enter_bt_tap_dance {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp ENTER>, <&bt_clr>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &enter_bt_tap_dance    // Tap = ENTER, Double Tap = Bluetooth Clear
                &bt BT_CLR             // Key 2: Normal Space Key
            >;
        };
    };
};