/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>


/ {

    macros {
        bt_clr_macro: bt_clr_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
        bt_nxt_macro: bt_nxt_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_NXT>;
        };

    };

    behaviors {
        td_bt_actions: td_bt_actions {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <500>;
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp A>, <&kp S>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td_bt_actions
                &bt BT_CLR
            >;
        };
    };
};